.image {
    
    float: right;
    width: 210px;
    height: 90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}

.performances{
    background-image:  url("image/staer.jpg");
    background-size:cover ;
    width: 100%;
    height: 100vh;
    top: 70px;
    



}
.partie{
    color:black;
    float:left;


}
.obj{
    color:black;
    float: left;
    margin-left: 20px;

}

.des{
    color:black;
    float: right;
    margin-right: 300px;
}
.col{
    color: black;
    float: right;
    margin-bottom: 30px;
    margin-left: 200px;
    size: 50px;;
}
#stock{
    color: black;
}
.sac{
    float:inline-end;
    width: 190px;
    height:90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}
.im{
    float: right;
    width:190px;
    height: 90px;
    top: 10px;
    margin-top: 10px;
   display: flex;
}
.work{
   color:palevioletred;
    float: left;
    width: 210px;
    height: 90px;
    top: 40px;
    margin-top: 10px;
    margin-right: 600px;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    


}