.image {
    
    float: right;
    width: 190px;
    height: 90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}

.performances{
    background-image:  url("image/staer.jpg");
    background-size:cover ;
    width: 100%;
    height: 100vh;
    top: 70px;
    



}
.partie{
    color:black;
    float:left;


}
.obj{
    color:#ebf7f8;
    float: left;
    margin-left: 20px;

}

.des{
    color: black;
    float: right;
    margin-right: 100px;
}
.col{
    color: black;
    float: right;
    margin-bottom: 30px;
    margin-right: 200px;
}
#stock{
    color: black;
}
.sac{
    float:inline-end;
    width: 190px;
    height:90px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}
.im{
    float: right;
    width:190px;
    height: 90px;
    top: 10px;
    margin-top: 10px;
   display: flex;
}
.po{


}