.image {
    
    float: right;
    width: 110px;
    height: 110px;
    top: 40px;
    margin-top: 10px;
   display: flex;
}

.performances{
    background-image:  url("image/staer.jpg");
    background-size:cover ;
    width: 100%;
    height: 100vh;
    top: 70px;
    



}
.partie{
    color:black;
    float:left;


}
.obj{
    color:black;
    float: left;
    margin-left: 20px;

}

.des{
    color:black;
    float: right;
    margin-bottom: 600px;

    margin-right: 300px;
}
.col{
    color: black;
    float: right;
    top: 900px;
    margin-left: 200px;
    size: 50px;;
}
#stock{
    color: black;
}
.sac{
    float:inline-end;
    width: 190px;
    height:190px;
    top: 40px;
    margin-top: 10px;
    margin-left: 500px;
   display: flex;
   
}

.im{
    float: right;
    width:190px;
    height: 190px;
    top: 10px;
    margin-top: 10px;
   display: flex;
   margin-right: 700px;
}
.work{
   color:palevioletred;
    float: left;
    width: 390px;
    height: 390px;
    top: 200px;
    margin-right: 500px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    


}
.po{
    top: 100px;
    margin-bottom: 500px;
    margin-left: 190px;
}
.add{
    color:violet;
    width: 600px;
    font-size: x-large;
    top: 500px;
}

.app{
    color:maroon;
    width: 3%;
    font-size: x-large;
   margin-left: 600px;
    bottom: 0px;
    
    


}